<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="autenticacion">

    <select id="conductor" parameterType="map" resultType="pojo.Colaborador">
        SELECT 
            c.idColaborador,
            c.nombre,
            c.apellidoPaterno,
            c.apellidoMaterno,
            c.CURP,
            c.correo,
            c.noPersonal,
            c.idRol,
            c.idSucursal,
            d.numero_licencia AS numeroLicencia
        FROM COLABORADOR c
        INNER JOIN CONDUCTOR d ON c.idColaborador = d.idConductor
        WHERE c.noPersonal = #{noPersonal} 
          AND c.contrasenia = #{password}
    </select>
    
    <select id="loginEscritorio" resultType="pojo.Colaborador">
        SELECT 
            c.idColaborador, c.nombre, c.apellidoPaterno, c.apellidoMaterno, 
            c.curp, c.correo, c.noPersonal,
            c.idRol, r.rol AS nombreRol,
            c.idSucursal, s.nombre AS nombreSucursal
        FROM colaborador c
        INNER JOIN rol r ON c.idRol = r.idRol
        INNER JOIN sucursal s ON c.idSucursal = s.idSucursal
        WHERE c.noPersonal = #{noPersonal} 
          AND c.contrasenia = #{password}
          AND r.rol != 'Conductor'
    </select>
</mapper>