<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="colaborador">

    <select id="obtener-todos" resultType="pojo.Colaborador">
        SELECT 
            c.idColaborador, c.nombre, c.apellidoPaterno, c.apellidoMaterno, 
            c.curp, c.correo, c.noPersonal,
            c.idRol, r.rol AS rol,
            c.idSucursal, s.nombre AS sucursal, s.codigo AS codigoSucursal,
            cond.numero_licencia AS numeroLicencia
        FROM colaborador c
        INNER JOIN rol r ON c.idRol = r.idRol
        INNER JOIN sucursal s ON c.idSucursal = s.idSucursal
        LEFT JOIN conductor cond ON c.idColaborador = cond.idConductor;
    </select>
    
    <insert id="registrar" parameterType="pojo.Colaborador" useGeneratedKeys="true" keyProperty="idColaborador">
        INSERT INTO colaborador (
            nombre, apellidoPaterno, apellidoMaterno, CURP, correo, 
            noPersonal, contrasenia, idRol, idSucursal
        ) VALUES (
            #{nombre}, #{apellidoPaterno}, #{apellidoMaterno}, #{curp}, #{correo}, 
            #{noPersonal}, #{contrasenia}, #{idRol}, #{idSucursal}
        )
    </insert>
    
    <insert id="registrarConductor" parameterType="pojo.Colaborador">
        INSERT INTO conductor (idConductor, numero_licencia)
        VALUES (#{idColaborador}, #{numeroLicencia})
    </insert>
      
    <update id="editar" parameterType="pojo.Colaborador">
        UPDATE colaborador
        SET nombre = #{nombre},
            apellidoPaterno = #{apellidoPaterno},
            apellidoMaterno = #{apellidoMaterno},
            curp = #{curp},
            correo = #{correo},
            idSucursal = #{idSucursal}
            WHERE idColaborador = #{idColaborador}
    </update>

    <update id="editarConductor" parameterType="pojo.Colaborador">
        UPDATE conductor SET
            numero_licencia = #{numeroLicencia}
        WHERE idConductor = #{idColaborador}
    </update>
    
    <delete id="eliminarConductor" parameterType="int">
        DELETE FROM conductor WHERE idConductor = #{idColaborador}
    </delete>

    <delete id="eliminar" parameterType="int">
        DELETE FROM colaborador WHERE idColaborador = #{idColaborador}
    </delete>
    
    <select id="obtenerPorNoPersonal" parameterType="string" resultType="pojo.Colaborador">
        SELECT 
            c.*, 
            r.rol AS nombreRol,
            s.nombre AS nombreSucursal, s.codigo AS codigoSucursal,
            cond.numero_licencia AS numeroLicencia
        FROM colaborador c
        INNER JOIN rol r ON c.idRol = r.idRol
        INNER JOIN sucursal s ON c.idSucursal = s.idSucursal
        LEFT JOIN conductor cond ON c.idColaborador = cond.idConductor
        WHERE c.noPersonal = #{noPersonal}
    </select>
    
    <select id="buscarPorNombre" parameterType="string" resultType="pojo.Colaborador">
        SELECT 
            c.idColaborador, c.nombre, c.apellidoPaterno, c.apellidoMaterno, 
            c.curp, c.correo, c.noPersonal, c.idRol, r.rol AS rol,
            c.idSucursal, s.nombre AS sucursal,
            cond.numero_licencia AS numeroLicencia
        FROM colaborador c
        INNER JOIN rol r ON c.idRol = r.idRol
        INNER JOIN sucursal s ON c.idSucursal = s.idSucursal
        LEFT JOIN conductor cond ON c.idColaborador = cond.idConductor
        WHERE 
            CONCAT(c.nombre, ' ', c.apellidoPaterno, ' ', c.apellidoMaterno) LIKE CONCAT('%', #{filtro}, '%')
    </select>

    <select id="buscarPorRol" parameterType="string" resultType="pojo.Colaborador">
        SELECT 
            c.idColaborador, c.nombre, c.apellidoPaterno, c.apellidoMaterno, 
            c.curp, c.correo, c.noPersonal, c.idRol, r.rol AS rol,
            c.idSucursal, s.nombre AS sucursal,
            cond.numero_licencia AS numeroLicencia
        FROM colaborador c
        INNER JOIN rol r ON c.idRol = r.idRol
        INNER JOIN sucursal s ON c.idSucursal = s.idSucursal
        LEFT JOIN conductor cond ON c.idColaborador = cond.idConductor
        WHERE 
            r.rol LIKE CONCAT('%', #{filtro}, '%')
    </select>

    <select id="buscarPorNoPersonal" parameterType="string" resultType="pojo.Colaborador">
        SELECT 
            c.idColaborador, c.nombre, c.apellidoPaterno, c.apellidoMaterno, 
            c.curp, c.correo, c.noPersonal, c.idRol, r.rol AS rol,
            c.idSucursal, s.nombre AS sucursal,
            cond.numero_licencia AS numeroLicencia
        FROM colaborador c
        INNER JOIN rol r ON c.idRol = r.idRol
        INNER JOIN sucursal s ON c.idSucursal = s.idSucursal
        LEFT JOIN conductor cond ON c.idColaborador = cond.idConductor
        WHERE 
            c.noPersonal LIKE CONCAT('%', #{filtro}, '%')
    </select>
    
    <update id="guardar-fotografia" parameterType="pojo.Colaborador">
        UPDATE colaborador
        SET fotografia = #{fotografia}
        WHERE idColaborador = #{idColaborador}
    </update>
    
    <select id="obtener-fotografia" parameterType="int" resultType="pojo.Colaborador">
        SELECT idColaborador,
            TO_BASE64(fotografia) as fotoBase64
        FROM colaborador
        WHERE idColaborador = #{idColaborador}
    </select>
    
    <select id="obtenerPorId" resultType="pojo.Colaborador">
        SELECT 
            c.idColaborador,
            c.nombre,
            c.apellidoPaterno,
            c.apellidoMaterno,
            c.curp,
            c.correo,
            c.noPersonal,
            c.idRol,
            c.idSucursal,
            d.numero_licencia AS numeroLicencia
        FROM colaborador c
        LEFT JOIN conductor d ON c.idColaborador = d.idConductor
        WHERE c.idColaborador = #{idColaborador}
    </select>
    
    <update id="cambiarPassword" parameterType="map">
        UPDATE colaborador 
        SET contrasenia = #{passwordNueva}
        WHERE idColaborador = #{idColaborador} 
          AND contrasenia = #{passwordActual}
    </update>
    
    <select id="obtener-conductores-disponibles" resultType="pojo.Colaborador">
        SELECT 
            c.idColaborador, c.nombre, c.apellidoPaterno, c.apellidoMaterno, 
            c.curp, c.correo, c.noPersonal,
            c.idRol, r.rol AS rol,
            c.idSucursal, s.nombre AS sucursal, s.codigo AS codigoSucursal,
            cond.numero_licencia AS numeroLicencia
        FROM colaborador c
        INNER JOIN rol r ON c.idRol = r.idRol
        INNER JOIN sucursal s ON c.idSucursal = s.idSucursal
        INNER JOIN conductor cond ON c.idColaborador = cond.idConductor
        
        LEFT JOIN unidad_conductor uc ON c.idColaborador = uc.idConductor
        
        WHERE uc.idConductor IS NULL
    </select>
    
    <select id="obtener-todos-conductores" resultType="pojo.Colaborador">
        SELECT 
            c.idColaborador,
            c.nombre,
            c.apellidoPaterno,
            c.apellidoMaterno,
            c.noPersonal,
            c.correo,
            cond.numero_licencia AS numeroLicencia
        FROM colaborador c
        INNER JOIN conductor cond ON c.idColaborador = cond.idConductor
        ORDER BY c.nombre ASC
    </select>
</mapper>