<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="direccion">
    <select id="obtener-colonias-codigo_postal" resultType="pojo.Direccion" parameterType="int">
        SELECT c.id as idColonia, c.nombre as colonia, c.ciudad as ciudad, m.nombre as municipio, e.nombre as estado, c.codigo_postal as codigoPostal
        FROM colonias c 
        INNER JOIN municipios m ON m.id = c.municipio 
        INNER JOIN estados e ON e.id = m.estado 
        WHERE c.codigo_postal = #{codigoPostal}
    </select>
    <select id="obtener-direccion-id" resultType="pojo.Direccion" parameterType="int">
        SELECT 
            d.idDireccion,
            d.calle,
            d.numero,
            c.id AS idColonia, 
            c.nombre AS colonia, 
            c.ciudad AS ciudad, 
            m.nombre AS municipio, 
            e.nombre AS estado, 
            c.codigo_postal AS codigoPostal
        FROM DIRECCION d 
        INNER JOIN COLONIAS c ON d.idColonia = c.id 
        INNER JOIN MUNICIPIOS m ON c.municipio = m.id 
        INNER JOIN ESTADOS e ON m.estado = e.id 
        WHERE d.idDireccion = #{idDireccion}
    </select>
    <insert id="crear-direccion" parameterType="pojo.Direccion" useGeneratedKeys="true" keyProperty="idDireccion">
        INSERT INTO direccion(calle, numero, idColonia) VALUES (#{calle}, #{numero}, #{idColonia})
    </insert>
    <select id="obtener-cp-sucursal" parameterType="int" resultType="pojo.Direccion">
        SELECT c.codigo_postal as codigoPostal FROM 
        SUCURSAL s INNER JOIN DIRECCION d ON s.idDireccion = d.idDireccion 
        INNER JOIN COLONIAS c ON d.idColonia = c.id 
        WHERE s.idSucursal = #{idSucursal}
    </select>
    <update id="editar" parameterType="pojo.Direccion">
        UPDATE direccion SET calle = #{calle}, numero = #{numero}, idColonia = #{idColonia} 
        WHERE idDireccion = #{idDireccion} 
    </update>
</mapper>
