<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="paquete">
    <select id="obtener-paquetes-envio" parameterType="int" resultType="pojo.Paquete">
        SELECT 
            p.idPaquete, 
            p.idEnvio, 
            e.noGuia, 
            p.descripcion, 
            p.peso, 
            p.alto, 
            p.ancho, 
            p.profundidad
        FROM paquete p
        INNER JOIN envio e ON p.idEnvio = e.idEnvio
        WHERE p.idEnvio = #{idEnvio}
        ORDER BY p.idPaquete;
    </select>
    <insert id="crear-paquete" parameterType="pojo.Paquete">
        INSERT INTO paquete (idEnvio, descripcion, peso, alto, ancho, profundidad) VALUES 
        (#{idEnvio}, #{descripcion}, #{peso}, #{alto}, #{ancho}, #{profundidad})
    </insert>
    <update id="modificar-paquete" parameterType="pojo.Paquete">
        UPDATE paquete 
        SET 
            descripcion = #{descripcion},
            peso = #{peso},
            alto = #{alto},
            ancho = #{ancho},
            profundidad = #{profundidad} 
        WHERE idPaquete = #{idPaquete}
    </update>
    <delete id="eliminar-paquete" parameterType="int">
        DELETE FROM paquete WHERE idPaquete = #{idPaquete};
    </delete>
</mapper>