<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="unidad">
    <select id="obtenerTodas" resultType="pojo.Unidad">
        SELECT 
            u.idUnidad,
            u.marca,
            u.modelo,
            u.anio,
            u.VIN,
            u.NII,   
            u.estatus,
            u.idTipoUnidad,
            t.tipo AS nombreTipoUnidad
        FROM unidad u
        INNER JOIN tipo_unidad t ON u.idTipoUnidad = t.idTipoUnidad
    </select>

    <insert id="registrar" parameterType="pojo.Unidad" useGeneratedKeys="true" keyProperty="idUnidad">
        INSERT INTO unidad (
            marca, modelo, anio, VIN, estatus, idTipoUnidad
        ) VALUES (
            #{marca}, #{modelo}, #{anio}, #{vin}, 'activa', #{idTipoUnidad}
        )
    </insert>

    <update id="editar" parameterType="pojo.Unidad">
        UPDATE unidad SET
            marca = #{marca},
            modelo = #{modelo},
            anio = #{anio},
            idTipoUnidad = #{idTipoUnidad}
        WHERE idUnidad = #{idUnidad}
    </update>

    <update id="actualizarEstatusBaja" parameterType="int">
        UPDATE unidad SET estatus = 'baja' WHERE idUnidad = #{idUnidad}
    </update>

    <insert id="registrarBaja" parameterType="pojo.UnidadBaja">
        INSERT INTO unidad_baja (idUnidad, motivoBaja, idColaborador)
        VALUES (#{idUnidad}, #{motivoBaja}, #{idColaborador})
    </insert>

    <select id="obtenerTipos" resultType="pojo.TipoUnidad">
        SELECT idTipoUnidad, tipo FROM tipo_unidad
    </select>
    
    <select id="buscar" resultType="pojo.Unidad" parameterType="String">
        SELECT 
            u.idUnidad,
            u.marca,
            u.modelo,
            u.anio,
            u.VIN,
            u.NII,    
            u.estatus,
            u.idTipoUnidad,
            t.tipo AS nombreTipoUnidad
        FROM unidad u
        INNER JOIN tipo_unidad t ON u.idTipoUnidad = t.idTipoUnidad
        WHERE u.estatus = 'activa' 
        AND (
               u.marca LIKE CONCAT('%', #{textoBusqueda}, '%')
            OR u.VIN   LIKE CONCAT('%', #{textoBusqueda}, '%')
            OR u.NII   LIKE CONCAT('%', #{textoBusqueda}, '%')
        )
    </select>
    
    <select id="obtener-disponibles" resultType="pojo.Unidad">
        SELECT 
            u.idUnidad, 
            u.marca, 
            u.modelo, 
            u.anio, 
            u.VIN, 
            u.NII,
            u.estatus, 
            u.idTipoUnidad, 
            tu.tipo AS tipo
        FROM unidad u
        INNER JOIN tipo_unidad tu ON u.idTipoUnidad = tu.idTipoUnidad
        LEFT JOIN unidad_conductor uc ON u.idUnidad = uc.idUnidad
        
        WHERE uc.idUnidad IS NULL
          AND u.estatus = 'activa'
        ORDER BY u.marca ASC, u.modelo ASC
    </select>
    
    <insert id="asignar-conductor" parameterType="map">
        INSERT INTO unidad_conductor (idUnidad, idConductor)
        VALUES (#{idUnidad}, #{idConductor})
    </insert>

    <delete id="desasignar-conductor" parameterType="int">
        DELETE FROM unidad_conductor 
        WHERE idConductor = #{idConductor}
    </delete>
    
    <select id="obtener-asignacion-por-conductor" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM unidad_conductor WHERE idConductor = #{idConductor}
    </select>
    
    <select id="obtener-asignacion-por-unidad" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM unidad_conductor WHERE idUnidad = #{idUnidad}
    </select>
    
    <select id="verificar-unidad-ocupada" parameterType="int" resultType="int">
        SELECT COUNT(*) 
        FROM unidad_conductor 
        WHERE idUnidad = #{idUnidad}
    </select>
    
    <select id="es-conductor-registrado" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM conductor WHERE idConductor = #{idConductor}
    </select>

    <select id="obtener-estatus" parameterType="int" resultType="string">
        SELECT estatus FROM unidad WHERE idUnidad = #{idUnidad}
    </select>
    
    <select id="obtener-conductor-asignado" parameterType="int" resultType="java.lang.Integer">
        SELECT idConductor FROM unidad_conductor WHERE idUnidad = #{idUnidad}
    </select>
    
   <select id="obtener-unidades-asignadas" resultType="pojo.Unidad">
        SELECT 
            u.idUnidad, 
            u.marca, 
            u.modelo, 
            u.anio, 
            u.VIN, 
            u.estatus,
            CONCAT_WS(' ', c.nombre, c.apellidoPaterno, c.apellidoMaterno) AS nombreConductor,
            c.idColaborador AS idConductor
        FROM unidad u
        LEFT JOIN unidad_conductor uc ON u.idUnidad = uc.idUnidad
        LEFT JOIN conductor cond ON uc.idConductor = cond.idConductor
        LEFT JOIN colaborador c ON cond.idConductor = c.idColaborador
        
        WHERE u.estatus = 'activa'
        ORDER BY u.marca ASC
    </select>
</mapper>